Hi Mr. <%= @user.full_name %> </b><br />
<h3 style="color: green">Be ready Its's your turn (: </h3></b><br /> 
Your Ozbah <%= @task_type %> is: </br>
<h3><%= @task.name %></h3>
<p><%= @task.description %></p>
